
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Salon Prasanga | About</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner-1 jarallax" id="home">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
						<h1><a href="/">Salon Prasanga</a></h1>
					</div>
					<div class="nav-contact-w3ls">
						<p >(+94)77 2286512<span class="fa fa-phone" aria-hidden="true"></span></p>
						<p class="para-y"><a href="/contact">Get More info</a></p>
					</div>
					<div class="address">
						<p>ADMIN LOGIN</p>
						<p class="para-y"><a href="/login">Sign In here</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
	<div class="nav-bg">
		<div class="container">
			<nav class="navbar navbar-default shift">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					    aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a class="active" href="/about">About</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/appointment">Appoinment</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>

				</div>
				<!-- /.navbar-collapse -->

			</nav>
		</div>
	</div>
	<!-- //navigation -->
	</div>
	<!-- //banner -->
	<!-- about -->
<div class="about">
	<div class="container">
	<div class="wthree_head_section">
				<h3 class="w3l_header">About <span>Us</span></h3>
				<p>Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty 
and skin care services will suit every beauty need.</p>
			</div>
		<div class="ab-agile">
			<div class="col-md-6 aboutleft">
				<h3>Welcome to Salon</h3>
				<p class="para1">A beauty treatment is high on every woman’s list and Salon Prasanga in Hikkaduwa can give you this treatment as you have never experienced before. Mr. Prasanga knows exactly how the ladies want to look like.
				He is the leading stylist in the area and has learnt to listen to the wishes of his customers. With his friendly approach he is an expert in taking care of wedding couples, including many foreigner he has served over the years to make their wedding day a memorable one.
				If foreigners want to marry in Sri Lanka they don’t have to worry about the organization, because Mr. Prasanga will consult you according to your wishes. He has a wide experience in this field.
				Salon Prasanga’s staff services include treatments from daily life hairstyling to wedding dresses </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Bridal Dressing & Design. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Hair Cut and Styles. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Hair Color & Highlights. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Nail care & Skin Care. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Saree Dressing & Make Up. </p>
				</div>
			<div class="col-md-6 aboutright">
				<img src="images/p1.jpg" class="img-responsive" alt="" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- wthree-mid -->
	
<!-- //wthree-mid -->

<!-- Team section -->
<section class="team" >
	<div class="container">
		<div class="wthree_head_section">
				<h3 class="w3l_header">Our <span>Team</span></h3>
				<p>Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty 
and skin care services will suit every beauty need.</p>
			</div>
		<div class="team-grid-top">
			<div class="col-md-3 team1">
				<div class="inner-team1">
				<img src="images/t2.jpg" alt="" />
				<h3>Prasanga</h3>
				<h4>Hairstylist & Proprietor</h4>
				
					
				</div>
			</div>
			<div class="col-md-3 team1">
				<div class="inner-team1">
				<img src="images/t1.jpg" alt="" />
				<h3>Lucky Liyanage</h3>
				<h4>Hairstylist</h4>
				
					
				</div>
			</div>

			<div class="col-md-3 team1">
				<div class="inner-team1">
				<img src="images/t3.jpg" alt="" />
				<h3>Asanka</h3>
				<h4>Stylist</h4>
				
					
				</div>
			</div>
			
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		
	</div>
</section>
<!-- //Team section -->

	<!-- //Modal1 -->
	<!-- footer -->
	
	
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
	<!-- start-smoth-scrolling -->
	<script src="js/jarallax.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->


	<!--js for bootstrap working-->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
</body>
</html>