<!DOCTYPE html>
<html lang="en">

<head>
	<title>Salon Prasanga | Appiontment</title>
	<!-- Meta Tags -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Booking Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<script src="js/jquery-1.12.0.min.js"></script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->

	<link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
<link href="css/style.css" rel='stylesheet' type='text/css' />
 
<link href="//fonts.googleapis.com/css?family=Signika:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner-1 jarallax" id="home">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
						<h1><a href="index.html">Salon Prasanga</a></h1>
					</div>
					<div class="nav-contact-w3ls">
						<p >(+94)77 2286512<span class="fa fa-phone" aria-hidden="true"></span></p>
						<p class="para-y"><a href="/contact">Get More info</a></p>
					</div>
					<div class="address">
						<p>ADMIN LOGIN</p>
						<p class="para-y"><a href="/login">Sign In here</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
	<div class="nav-bg">
		<div class="container">
			<nav class="navbar navbar-default shift">

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="/services">Services</a></li>
						<li><a class="active" href="/appointment">Appoinment</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>

				</div>
				<!-- /.navbar-collapse -->

			</nav>
		</div>
	</div>
	<!-- //navigation -->
	</div>

	<h1 style="color:#000000;">Salon Prasanga </h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Make an appointment</h2>
			<form method="POST" action="">
			<div class="left-agileits-w3layouts same">
				<div class="gaps">
					<p>Your Name</p>
					<input type="text" name="Name"/>
				</div>	
				<div class="gaps">
					<p>Email Id</p>
					<input type="email" name="email"/>
				</div>
				<div class="gaps">	
					<p>Contact Number</p>
					<input type="text" name="Number" placeholder="" required=""/>
				</div>
			</div>
			<div class="right-agileinfo same">
			<div class="gaps">
				<p>Book Your Date</p>		
				<input  id="datepicker1" name="Date" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
			</div>
			<div class="gaps" >
				<p>Book Your Time</p>		
				<input type="text" id="timepicker" name="Time" class="timepicker form-control" value="">	
			</div>
			<div class="gaps">
				<p>Services</p>	
				<select name="service" class="form-control">
					<option></option>
					<option>Facial Masking</option>
					<option>Nail polish</option>
					<option>Body Massage</option>
					<option>Foot Massage</option>
					<option>Special Makeup</option>
					<option>Spa Therapy</option>
				</select>
			</div>
			<div class="gaps">
				<p>Stylist</p>	
				<select name="stylist" class="form-control">
					<option></option>
					<option>Prasanga Kumara</option>
					<option>Lucky Liyanage</option>
					<option>Asanka Weerakon</option>
				</select>
			</div>
			</div>
			<div class="clear"></div>
				
			
		
				<input type="submit" value="Make an appointment" onclick="dialog()">
			</form>

			<script>
				function dialog(){
					alert("Appointment added successfully");
				}
			</script>
		</div>
   </div>
   
			<div class="copy w3ls">
		       <p>&copy; 2020 Salon Prasanga. All Rights Reserved.</p>
	        </div>
		
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/wickedpicker.js"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>
		<!-- Calendar -->
				<link rel="stylesheet" href="css/jquery-ui.css" />
				<script src="js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

	
	
  

</body>
</html>